.carousel {
  position: relative;
}

.carousel_arrow_before {
  position: absolute;
  left: 2%;
  top: 45%;
  cursor: pointer;
  transform: rotate(270deg);
}

.carousel_arrow_after {
  position: absolute;
  right: 2%;
  top: 45%;
  cursor: pointer;
  transform: rotate(90deg);
}

.carousel_picture_img {
  height: 415px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .carousel_picture_img  {
    height: 255px;
  }
}
